{% extends 'djfb/base.html' %}

{% block title %}DJFB{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <main>
	<h1>MLB Structure for {{ season.year }}</h1>
	{% for league in season.mlb_league_set.all %}
	    <h3>{{ league.name }}</h3>
	    {% for division in league.mlb_division_set.all %}
		<li>{{ division.name }}
		    <ul>
			{% for team in division.mlb_team_set.all %}
			    <li><a href="/mlb/team/{{ team.id }}">{{ team.full_name }}</a></li>
			{% endfor %}
		    </ul>
		</li>
	    {% endfor %}
	{% endfor %}
    </main>
{% endblock %}
    
