{% extends 'djfb/base.html' %}

{% block title %}DJFB{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <main>
	<h1>{{ player.name_full }}</h1>

	{% if not elig %}
	    <h4>No games so no stats</h4>
	{% endif %}

	{% for bstats_yr in bstats %}
	    {% if bstats_yr.pa > 0 %}
		<h4>Batting Stats</h4>
		<table>
		    <thead>
			<th>Season</th>
			<th>Avg</th>
			<th>R</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
		    </thead>
		    <tbody>
			<td>{{ bstats_yr.year.year }}</td>
			<td>{{ bstats_yr.avg }}</td>
			<td>{{ bstats_yr.r }}</td>
			<td>{{ bstats_yr.hr }}</td>
			<td>{{ bstats_yr.rbi }}</td>
			<td>{{ bstats_yr.sb }}</td>
		    </tbody>
		</table>
	    {% endif %}
	{% endfor %}

	{% for pstats_yr in pstats %}
	    {% if pstats_yr.outs > 0 or pstats_yr.bb > 0 or pstats_yr.h > 0 %}
		<h4>Pitching Stats</h4>
		
		<table>
		    <thead>
			<th>Season</th>
			<th>W</th>
			<th>SV</th>
			<th>K</th>
			<th>ERA</th>
			<th>WHIP</th>
		    </thead>
		    <tbody>
			<td>{{ pstats_yr.year.year }}</td>
			<td>{{ pstats_yr.w }}</td>
			<td>{{ pstats_yr.sv }}</td>
			<td>{{ pstats_yr.so }}</td>
			<td>{{ pstats_yr.era }}</td>
			<td>{{ pstats_yr.whip }}</td>
		    </tbody>
		</table>
		
	    {% endif %}
	{% endfor %}
	
    </main>
{% endblock %}

